<%- include ('../include/header') -%>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">제목</span>
        <input type="text" id='title' class="form-control" aria-label="Username" aria-describedby="basic-addon1"
            readonly value="<%= boardRead['title'] %>">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">작성자명</span>
        <input type="text" id='name' class="form-control" aria-label="Username" aria-describedby="basic-addon1"
            readonly value="<%= boardRead['name'] %>">
    </div>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">내용</span>
        <input type="text" id='contents' class="form-control" aria-label="Username" aria-describedby="basic-addon1"
            readonly value="<%= boardRead['contents'] %>">
    </div>

    <div id="readDiv">
    </div>

    <%- include ('../include/modal') -%>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                make_button();
            })
            const queryString = window.location.search;
            const urlParam = new URLSearchParams(queryString);
            const boardId = urlParam.get('boardId');
            let nowButton = "";
            let reWriteId = "";
            function make_button() {
                let name = document.getElementById('name').value
                let token = parseJwt(localStorage.getItem("token"))['name'];
                if (localStorage.getItem('token') != null && name == token) {
                    var btn_upd = document.createElement('button');
                    var btn_del = document.createElement('button');
                    var read = document.getElementById('readDiv');
                    btn_upd.type = 'button';
                    btn_del.type = 'button';
                    btn_upd.className = 'btn btn-primary';
                    btn_del.className = 'btn btn-danger';
                    btn_upd.id = 'updateButton';
                    btn_del.id = 'deleteButton';
                    btn_upd.onclick = () => {
                        updButtonSet();
                        chk_modal();
                    }
                    btn_del.onclick = () => {
                        delButtonSet();
                        chk_modal();
                    }
                    var loginTxt = document.createTextNode('수정하기');
                    btn_upd.appendChild(loginTxt);
                    var regTxt = document.createTextNode('삭제하기');
                    btn_del.appendChild(regTxt);
                    read.appendChild(btn_upd);
                    read.appendChild(btn_del);
                }
            }
            function updButtonSet() {
                nowButton = 'updateButton';
            }
            function delButtonSet() {
                nowButton = 'deleteButton';
            }
            // 비밀번호 입력 모달 열기
            function chk_modal() {
                var myChkModal = new bootstrap.Modal(document.getElementById("chkPassword"), {});
                myChkModal.show();
            }
            // 모달에서 확인 버튼을 누르면 함수 실행
            function chkPassWord(inputPW) {
                var myModal = new bootstrap.Modal(document.getElementById("noticeModal"), {});
                var myWrongModal = new bootstrap.Modal(document.getElementById("wrongModal"), {});
                var myLoginModal = new bootstrap.Modal(document.getElementById("loginModal"), {});
                var myChkCmIdPwModal = new bootstrap.Modal(document.getElementById("chkIdPwModal"), {});
                var myDelModal = new bootstrap.Modal(document.getElementById("delModal"), {});
                if (nowButton == 'updateButton' || nowButton == 'deleteButton') {
                    const data = {
                        boardId: boardId,
                        passWord: inputPW,
                        nowButton: nowButton
                    }
                    const url = '/api/chkPW';
                    const init = {
                        method: 'POST',
                        body: JSON.stringify(data),
                        headers: {
                            'Content-Type': 'application/json',
                            'authorization': 'Bearer ' + localStorage.getItem("token"),
                        },
                        credentials: 'same-origin'
                    };
                    fetch(url, init)
                        .then((res) => res.json())
                        .then(res => {
                            responseTxt = res;
                            if (res.status == 200 || res.status == 201) {
                                if (responseTxt['result'] == 'success' && nowButton == 'updateButton') {
                                    location.href = '/updateBoard/?boardId=' + boardId;
                                } else if (responseTxt['result'] == 'success' && nowButton == 'deleteButton') {
                                    const modalTitle = document.querySelector('#msgTitle');
                                    var mtTxt = document.createTextNode(responseTxt['modal_title']);
                                    modalTitle.appendChild(mtTxt);
                                    const modalBody = document.querySelector('#msgbody');
                                    var mbTxt = document.createTextNode(responseTxt['modal_body']);
                                    modalBody.appendChild(mbTxt);
                                    myModal.show();
                                } else {
                                    myWrongModal.show();
                                }
                            } else {
                                myWrongModal.show();
                            }
                        })
                } else {
                    const data = {
                        boardId: boardId,
                        passWord: inputPW,
                        nowButton: nowButton
                    }
                    const init = {
                        method: 'POST',
                        body: JSON.stringify(data),
                        headers: {
                            'Content-Type': 'application/json',
                            'authorization': 'Bearer ' + localStorage.getItem("token"),
                        },
                        credentials: 'same-origin'
                    };
                    fetch(url, init)
                        .then((res) => res.json())
                        .then(res => { responseTxt = res; })
                }
            }
            
            
        </script>
        <%- include ('../include/footer') -%>